html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  /* header */
  
  .header {
    position: relative;
    box-shadow: 3px 3px 8px rgb(58, 47, 47);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    padding: 1rem;
    color: #49baf2;
    font-weight: 600;
  
    &__title {
      flex-basis: 60%;
    }
  
    .nav {
      flex-basis: 40%;
  
      li {
        list-style: none;
        display: inline-block;
        margin: 0 0.5rem;
      }
  
      &__link {
        text-decoration: none;
        color: #063251;
  
        &:hover {
          color: #49baf2;
        }
      }
    }
  }
  
  .color-flipper-section {
    background-color: #f1f5f8;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .color-box {
      margin: 1rem 1rem;
      padding: 1rem 1rem;
      border-radius: 5px;
      font-size: 1.2rem;
      color: white;
      font-weight: bold;
      background-color: black;
  
      .color {
        color: #49baf2;
        margin-left: 5px;
      }
    }
  
    .btn {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      padding: 1rem 1rem;
      border: 2px solid black;
      border-radius: 5px;
      background-color: transparent;
      transition: background-color 0.3s;
      font-weight: bold;
  
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  
  // media
  
  @media only screen and (min-width: 600px) {
    .header {
      font-size: 1.5em;
  
      &__title {
        text-align: center;
      }
    }
  
    .color-flipper-section {
      .color-box {
        margin-bottom: 2rem;
        padding: 2rem 4rem;
        font-size: 2em;
        border-radius: 8px;
      }
    }
  
    .btn {
      font-size: 1.2rem;
    }
  }
  
  .current-page {
    color: #49baf2 !important;
  }